body{

background-image: url(./pexels-ingo-joseph-21627.jpg);

background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;

}

.row{

margin-top: 200px;

}


.create-wrap{
    margin-top: 80px;
}
.create-wrap1{
    margin-top: 80px;
    margin-left: 18vw;
}


.heading{
    margin-top: 80px;
    background-color: black;
    opacity: 0.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.heading2{
    margin-top: 50px;
    background-color: black;
    opacity: 0.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.heading3{
    margin-top: 50px;
    background-color: black;
    opacity: 0.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


